<div class="container mb-5">
    <div class="card-group">
        <div data-aos="zoom-in-down" class="card ml-2 shadow">
          <img src="assets/img/tiara.jpg" class="card-img-top oc-img" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Perumahan Tiara Regency</h5>
            <p class="card-text">Limbangan, Kec. Sukaraja, Sukabumi Regency, Jawa Barat 43192</p>
            <p class="card-text"><small class="text-muted">Details</small></p>
          </div>
        </div>
        <div data-aos="zoom-in-down" class="card ml-2 shadow">
          <img src="assets/img/jugala.jpg" class="card-img-top oc-img" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Jugala Residence</h5>
            <p class="card-text">Batununggal, Kec. Cibadak, Sukabumi Regency, Jawa Barat 43351</p>
            <p class="card-text"><small class="text-muted">Details</small></p>
          </div>
        </div>
        <div data-aos="zoom-in-down" class="card ml-2 shadow">
          <img src="assets/img/bnn.png" class="card-img-top oc-img" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Pusat rehabilitasi narkoba BNN Lido</h5>
            <p class="card-text">Jl. HR Edi Sukma, Watesjaya, Cigombong, Watesjaya, Cigombong, Bogor, Jawa Barat 16110</p>
            <p class="card-text"><small class="text-muted">Details</small></p>
          </div>
        </div>
      </div>

      <div class="card-group mt-3">
        <div data-aos="zoom-in-up" class="card ml-2 shadow">
          <img src="assets/img/benda.jpg" class="card-img-top oc-img" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center;">PT. Anugerah Bangun Sentosa</h5>
            <p class="card-text">Perum Griya Benda Asri 2 blok CE 1, Benda, Kec. Cicurug, Sukabumi Regency, Jawa Barat 43359</p>
            <p class="card-text"><small class="text-muted">Details</small></p>
          </div>
        </div>
        <div data-aos="zoom-in-up" class="card ml-2 shadow">
          <img src="assets/img/adhita.jpg" class="card-img-top oc-img" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center;">PT. Adhita Karya Pratama</h5>
            <p class="card-text">Jl Kartika Puspa Raya No.23, Bojong Baru, Bojong Gede, Bojong Baru, Kec. Bojong Gede, Bogor, Jawa Barat 16920</p>
            <p class="card-text"><small class="text-muted">Details</small></p>
          </div>
        </div>
        <div data-aos="zoom-in-up" class="card ml-2 shadow">
          <img src="assets/img/ciangsana.jpg" class="card-img-top oc-img" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Kawasan Industri Cikembar</h5>
            <p class="card-text">Jl. Perintis Kemerdekaan Km. 6 KP Cimenteng RT 001 RW 005, Sukamulya, Cikembar, Sukamulya, Cikembar, Sukabumi, West Java 43157</p>
            <p class="card-text"><small class="text-muted">Details</small></p>
          </div>
        </div>
      </div>
      
</div>