<div>
  <div class="jumbotron" style="color: #53c227;">
    <div class="title-header animate__animated animate__zoomInDown">
      <h1>Indobata</h1>
      <h2>
        Concrete Roof Tile & Concrete Block Manufacturing
      </h2>
    </div>
  </div>
  <hr>


  <section 
  class="mb-4 animate__animated animate__zoomInDown">
    <br>
    <div class="row justify-content-center rounded-top">
      <div class="gradient card vision mr-2 animate__fadeInTopLeft">
        <img class="card-img-top" src="assets/img/save.png" alt="Card image cap">
        <h4 style="text-align: center;">Save Money</h4>
        <div class="card-body">
          <p class="card-text" style="text-align: center;">Produk dengan bahan beton berkualitas dan mampu bersaing dengan perusahaan konstruksi nasional, Indobata mampu memberikan harga jual yang terjangkau, hingga tidak menimbulkan pembekakan budget customer.</p>
        </div>
      </div>
      <div class="card vision mr-2 gradient">
        <img class="card-img-top" src="assets/img/ok.png" alt="Card image cap">
        <h4 style="text-align: center;">Good Quality</h4>
        <div class="card-body">
          <p class="card-text" style="text-align: center;">Produk beton Indobata menggunakan bahan baku bermutu dengan pengawasan quality control yang baik sesuai standar yang ada sehingga banyak digunakan dalam berbagai proyek, baik proyek berskala nasional maupun lokal.</p>
        </div>
      </div>
      <div class="card vision me-2 gradient">
        <img class="card-img-top" src="assets/img/brains.png" alt="Card image cap">
        <h4 style="text-align: center;">Innovation</h4>
        <div class="card-body">
          <p class="card-text" style="text-align: center;">Indobata terus melakukan inovasi dalam mengembangkan produk hingga tidak ketinggalan trend desain arsitektur yang terus berkembang.</p>
        </div>
      </div>
    </div>
    <br>
  </section>
  <hr class="line">

  <div class="mb-4" style="color: rgb(109, 109, 107);">
    <div class="container">
      <article style="text-align:center">
        <p>
          CV. Indobata berdiri sejak tahun 2003, merupakan perusahaan yang memproduksi bahan konstruksi berupa genteng beton, ubin, paving block (conblock),
          <br>batako press, buis beton (gorong-gorong), roster atau loster, kansteen (kanstin), serta genteng keramik berbagai merk.
          <br>
          Dengan harga yang relatif murah namun kami tidak melupakan nilai estetika dari suatu produk, kami memilih
          bahan baku
          dengan kualitas terbaik,
          <br>
          Dengan harga terjangkau, relatif murah. Akan tetapi, Indobata tetap mengedepankan nilai estetika serta menggunakan bahan baku dengan kualitas terbaik yang telah terstandarisasi.
        </p>
      </article>
    </div>
  </div>
  <hr class="line">

  &nbsp;
  &nbsp;
  <section id="our-product" class="mb-4">
    <h1 style="text-align: center;">Produk Kami</h1>
    &nbsp;
    <div data-aos="zoom-in-down" class="row justify-content-center rounded-top">
      <div class="card ex-product mr-2 zoom" style="width: 20rem; ">
        <img class="card-img-top" src="assets/img/ubin.png" alt="Card image cap">
        <div class="card-body">
          <p class="card-text" style="text-align: center;">Ubin Difable</p>
        </div>
      </div>
      <div data-aos="zoom-in" class="card ex-product mr-2 zoom" style="width: 20rem;">
        <img class="card-img-top" src="assets/img/kanstin.png" alt="Card image cap">
        <div class="card-body">
          <p class="card-text mt-4" style="text-align: center;">Kanstin S</p>
        </div>
      </div>
      <div data-aos="zoom-in" class="card ex-product mr-2 zoom" style="width: 20rem;">
        <img class="card-img-top" src="assets/img/batako.png" alt="Card image cap">
        <div class="card-body">
          <p class="card-text mt-4" style="text-align: center;">Batako Press</p>
        </div>
      </div>
    </div>
    &nbsp;
    &nbsp;
    <div style="text-align: center;" class="col-md-auto justify-content-center">
      <button class="btn btn-primary rounded border" [routerLink]="['/product']"
        routerLinkActive="router-link-active">See All Product</button>
    </div>
  </section>


  &nbsp;
  &nbsp;
  <section style="min-height: 320px; margin-bottom: 50px;" class="bg-light">
    <div class="container">
      <div class="row pb-4 mb-5">
        <div class="col mb-5 text-center" style="margin-left: 40px;">
          &nbsp;
          <h1 style="text-align: center;">Tersedia di Marketplace</h1>
          <div class="row mt-5" data-aos="zoom-in-down">
            <a href="https://www.tokopedia.com/" target="_blank">
              <img class="col card-img-top brand" src="assets/img/tokopedia.png" alt="tokopedia">
            </a>
            <a href="https://www.bukalapak.com/" target="_blank">
              <img class="col card-img-top brand" src="assets/img/bukalapak.png" alt="Bukalapak">
            </a>
            <a href="https://www.lazada.com/" target="_blank">
              <img class="col card-img-top brand" src="assets/img/lazada.png" alt="Lazada">
            </a>
            <a href="https://www.shopee.com/" target="_blank">
              <img class="col card-img-top brand" src="assets/img/shopee.png" alt="Shopee">
            </a>
            <a href="https://www.blibli.com/" target="_blank">
              <img class="col card-img-top brand" src="assets/img/blibli.png" alt="Blibli">

            </a>

          </div>
        </div>
      </div>
    </div>
  </section>
  &nbsp;
  &nbsp;
</div>