<div>
  <div class="jumbotron" style="color: #53c227;">
    <h1 class="display-4">Indobata</h1>
    <h2>
      Concrete Roof Tile & Concrete Block Manufacturing
    </h2>

  </div>

  <div class="container mb-4">
    <div class="row justify-content-center">
      <div class="col-10 info-panel">
        <div class="row">
          <div class="col-sm" style="margin-left:120px;">
            <img src="assets/img/gold-money.png" alt="save-money">
            <h4>Save Money</h4>
          </div>
          <div class="col-sm" style="margin-left:50px;">
            <img src="assets/img/good.png" alt="save-money">
            <h4>Good Quality</h4>
          </div>
          <div class="col-sm" style="margin-right:50px;">
            <img src="assets/img/brain.png" alt="save-money">
            <h4>Innovation</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  &nbsp;
  &nbsp;
  <div class="mb-4">
    <div class="container">
      <article style="text-align:center">
        <p>
          indobata adalah pabrik beton yang memproduksi, Genteng Beton, paving block atau conblock, batako press, buis
          beton
          atau gorong gorong, roster atau lostrer, ubin, kansteen atau kanstin dll.
          <br>
          Dengan harga yang relatif murah namun kami tidak melupakan nilai estetika dari suatu produk, kami memilih
          bahan baku
          dengan kualitas terbaik, dan telah melewati uji karakteristik dalam kandungan bahan yang kami gunakan.
          <br>
          selain memproduksi Genteng Beton, paving block atau conblock, batako press, buis beton atau gorong gorong,
          roster
          atau loster, ubin, kansteen atau kanstin dll. kami juga menjual paving blok dan Genteng keramik dengan
          merk-merk
          terbaik.
        </p>
      </article>
    </div>
    &nbsp;
    &nbsp;
    <section id="our-product" class="mb-4">
      <h1 style="text-align: center;">Our Product</h1>
      &nbsp;
      <div class="row justify-content-center rounded-top">
        <div class="card product mr-2" style="width: 20rem; ">
          <img class="card-img-top" src="assets/img/ubin.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text" style="text-align: center;">Ubin Difable</p>
          </div>
        </div>
        <div class="card product mr-2" style="width: 20rem;">
          <img class="card-img-top" src="assets/img/kanstin.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text mt-4" style="text-align: center;">Kanstin S</p>
          </div>
        </div>
        <div class="card product mr-2" style="width: 20rem;">
          <img class="card-img-top" src="assets/img/batako.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text mt-4" style="text-align: center;">Batako Press</p>
          </div>
        </div>
      </div>
      &nbsp;
      &nbsp;
      <div style="text-align: center;" class="col-md-auto justify-content-center">
        <button class="btn btn-primary rounded border" [routerLink]="['/product']"
          routerLinkActive="router-link-active">See All Product</button>
      </div>
    </section>
    &nbsp;
    <section class="mb-4 bg-light">
      <br>
      <div class="row justify-content-center rounded-top" style="color: rgb(109, 109, 107);">
        <div class="card products mr-2" style="width: 20rem; ">
          <img class="card-img-top" src="assets/img/gold-money.png" alt="Card image cap">
          <h4 style="text-align: center;">Save Money</h4>
          <div class="card-body">
            <p class="card-text" style="text-align: center;">Indobata dengan harga jual dipasaran cukup rasional dan
              terjangkau sehingga dapat menghemat budget, merupakan produk beton yang kualitasnya tidak jauh berbeda
              dengan produk beton yang dihasilkan oleh perusahaan industri beton lainnya ditingkat nasional yang dijual
              dipasaran dengan harga yang lebih tinggi.</p>
          </div>
        </div>
        <div class="card products mr-2" style="width: 20rem;">
          <img class="card-img-top" src="assets/img/good.png" alt="Card image cap">
          <h4 style="text-align: center;">Good Quality</h4>
          <div class="card-body">
            <p class="card-text" style="text-align: center;">Indobata adalah produk beton berkualitas yang telah
              terbukti digunakan dalam berbagai proyek, baik proyek berskala nasional, lokal, maupun individu-individu
              pribadi lainya, karena Indobata diproduksi dengan menggunakan bahan baku pilihan yang bermutu, dengan
              pengawasan quality control yang ketat serta disesuaikan dengan standarisasi industri beton.</p>
          </div>
        </div>
        <div class="card products me-2" style="width: 20rem;">
          <img class="card-img-top" src="assets/img/brain.png" alt="Card image cap">
          <h4 style="text-align: center;">Innovation</h4>
          <div class="card-body">
            <p class="card-text" style="text-align: center;">Indobata selalu melakukan inovasi dan kreasi dalam
              melakukan perubahan dan tuntutan perkembangan dunia arsitektur dalam design konstruksi bangunan, sehingga
              produk-produk yang dihasilkan up to date sesuai dengan perkembangan jaman.</p>
          </div>
        </div>
      </div>
      <br>
    </section>
    &nbsp;
    &nbsp;
    <section>
      <div class="container">
        <h1 style="text-align: center;">We Available On </h1>
        <div class="row">
          <img class="col card-img-top brand" src="assets/img/tokopedia.png" alt="Card image cap">
          <img class="col card-img-top brand" src="assets/img/bukalapak.png" alt="Card image cap">
          <img class="col card-img-top brand" src="assets/img/lazada.png" alt="Card image cap">
          <img class="col card-img-top brand" src="assets/img/shopee.png" alt="Card image cap">
          <img class="col card-img-top brand" src="assets/img/blibli.png" alt="Card image cap">
        </div>
      </div>
    </section>

    <section id="contact" class="contact bg-light">
      <div class="container">
        <div class="row pt-4 mb-4">
          <div class="col text-center">
            <h2>Contact Us</h2>

            <div class="card mb-3" style="width: 18rem;">
              <img class="img-logo text-center card-img-top" src="assets/img/indobata-logo.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title" style="color: #53c227;">Indobata</h5>
                <p>Jl. Raya Karang Hilir no. 833
                  Cibadak – Sukabumi</p>
              </div>

              <ul class="list-group list-group-flush">
                <li class="list-group-item"><span>x</span> 0266 – 532 888</li>
                <li class="list-group-item">0858 – 9999 7150</li>
                <li class="list-group-item">contact@indobata.com</li>
              </ul>

              <div class="card-body">
                <a href="#" class="card-link">info@indobata.com</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    &nbsp;
    &nbsp;
  </div>
</div>