<div class="container" data-aos="zoom-out-left">
    <!-- <h1 class="aboutUsTitle">About Us</h1> -->

    <article class="articleText">
        <p style="text-align: center;">
            CV Indobata adalah perusahaan industri beton yang didirikan sejak tahun 2003 yang memproduksi aneka produk
            beton berupa : Paving Block, Genteng Beton, Batako Press, Ubin Difable, Buis Beton, Roster dan Kanstin
            Dengan Brand “INDOBATA”.
        </p>
    </article>

    <div class="card-deck" >
        <div class="card card-size-about-us">
            <br>
            <img class="card-img-top img-card" src="assets/img/vision.png">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Vision</h5>
                <p class="card-text" style="color: rgb(109, 109, 107);">Menghadirkan produk beton sesuai standarisasi nasional sehingga menghasilkan produk
                    beton berkualitas prima, berkarakteristik, memenuhi aspek estetika, dekoratif dan kostruktif, mampu
                    beradaptasi dalam segala cuaca dan juga dapat mengikuti trend sesuai kebutuhan pasar baik jangka
                    mengengah maupun jangka panjang.</p>
            </div>
        </div>
        <div class="card card-size-about-us">
            <br>
            <img class="card-img-top img-card" src="assets/img/mission.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Mission</h5>
                <p class="card-text" >
                <ul style="color: rgb(109, 109, 107);">
                    <li>
                        Menciptakan dan memproduksi produk beton dengan menggunakan bahan material pilihan yang telah
                        teruji sesuai dengan standarisasi industri beton;
                    </li>
                    <li>
                        Mengembangkan dan menciptakan design produk yang inovatif seusai dengan permintaan dan kebutuhan
                        pasar;
                    </li>
                    <li>
                        Meningkatkan dan memperbaharui alat produksi sesuai dengan perkembangan jaman dan peningkatan
                        kualitas produk;
                    </li>
                    <li>
                        Membangun dan memelihara kemitraan dengan customer untuk memberikan kepuasan terhadap customer
                        baik terkait kualitas produk, informasi produk, maupun pengiriman produk yang tepat waktu;
                    </li>
                </ul>
            </div>
        </div>
    </div>

    &nbsp;
</div>