<section class="bg-light">
<div class="container" data-aos="zoom-out-left">
  <!-- <h1 class="aboutUsTitle">About Us</h1> -->

  <div class="card-deck" style="justify-content: center;">
    <div class="card mt-3 card-size-about-us card-vm">
      <br />
      <img class="card-img-top img-card" src="assets/img/vision.png" />
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;">Vision</h5>
        <p class="card-text" style="color: rgb(109, 109, 107);">
          Indobata selalu menghadirkan produk beton berkualitas prima, dekoratif, serta ketahanan produk dalam segala cuaca, dan mampu memenuhi kebutuhan pasar yang ada.
        </p>
      </div>
    </div>
    <div class="card card-size-about-us card-vm">
      <br />
      <img
        class="card-img-top img-card"
        src="assets/img/mission.png"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;">Mission</h5>
        <p class="card-text" style="color: rgb(109, 109, 107);">
          Tak hanya mengembangkan trend desain arsitektur dunia. Namun, Indobata juga mampu memproduksi produk yang inovatif sesuai permintaan customer dan kebutuhan pasar. Indobata akan terus meningkatkan alat produksi dengan standar terbaik, mengembangkan pelayanan agar mampu mambangun dan memelihara kemitraan dengan customer. Serta dapat mencapai kepuasan dan mempermudah customer untuk mendapatkan informasi tentang kualitas produk, ketersediaan produk, maupun waktu pengiriman produk.
        </p>
      </div>
    </div>
  </div>
  

  &nbsp;
</div>
</section>


<section id="contact">
  <div class="container">
    <h2 style="text-align: center;">Contact Us</h2>
    <div class="card-deck" style="color: rgb(109, 109, 107);">
      <div class="card card-address border-col mt-3 mb-3" style="width: 18rem; border-radius: 20px;">
        <ul class="list-group list-group-flush " style="height: 5px;">
          <li class="list-group-item border-col">
            <i class="fas fa-map-marked-alt"></i>
            <span> Jl. Raya Karang Hilir, Karang Tengah No. 833 Cibadak – Sukabumi</span>
          </li>
          <li class="list-group-item border-col" style="height: 50px;">
            <i class="fas fa-phone mr-2 mb-4"></i> 
            <span> (0266) 532 888</span>
          </li>
          <li class="list-group-item border-col" style="height: 50px;">
            <i class="fas fa-mobile-alt mr-2 mb-4"></i>
            <span> 0858–9999 7150</span>
          </li>
          <li class="list-group-item border-col" style="height: 50px;">
            <i class="fas fa-mobile-alt mr-2 mb-4"></i>
            <span> 0822–9999 7151</span>
          </li>
          <li class="list-group-item border-col" style="height: 50px;">
            <i class="fas fa-envelope-open-text mr-2 mb-4"></i>
            <span>contact@indobata.com</span>
          </li>
          <li class="list-group-item border-col" style="height: 50px;">
            <i class="fas fa-envelope-open-text mr-2 mb-4"></i>
            <span>info@indobata.com</span>
          </li>
          <li class="list-group-item" style="height: 50px;">
            <div style="justify-content: center;">
              <a href="https://www.instagram.com/" target="_blank">
                <img src="assets/img/ig.png" class="social-icon mr-3" alt="instagram">
              </a>
              <a href="https://www.facebook.com/" target="_blank">
                <img src="assets/img/fb.png" class="social-icon mr-4" alt="facebook">
              </a>
              <a href="https://www.youtube.com/" target="_blank">
                <img src="assets/img/youtube.png" class="social-icon mr-4" alt="youtube">
              </a>
              <a href="https://www.twitter.com/" target="_blank">
                <img src="assets/img/twitter.png" class="social-icon " alt="twitter">
              </a>
          </div>
          </li>
        </ul>
      </div>


      <div class="card rounded mt-3 mb-3 border-col">
        <div class="card-body">
          <div class="form-group">
            <input
              class="form-control form-control-lg mb-3"
              type="text"
              placeholder="Name"
            />
            <input
              class="form-control form-control-lg mb-3"
              type="text"
              placeholder="Email Address"
            />
            <textarea
              style="height: 120px;"
              class="form-control form-control-lg"
              type="text"
              placeholder="Messages"
            ></textarea>
          </div>
          <button
            style="margin-right: auto;"
            class="btn btn-primary rounded border"
          >
            Send Messages
          </button>
        </div>
      </div>
    </div>
  </div>  
</section>
