<nav>
    <div class="logo">
        <h4>Indobata</h4>
    </div>

    <div class="container">
        <ul class="margin">
            <li> <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a> </li>
            <li> <a class="nav-link" [routerLink]="['/product']" routerLinkActive="router-link-active">Product</a> </li>
            <li> <a class="nav-link" [routerLink]="['/about-us']" routerLinkActive="router-link-active">About Us</a> </li>
            <li> <a class="nav-link" [routerLink]="['/our-clients']" routerLinkActive="router-link-active">Our Client</a> </li>
            <li> <a class="nav-link" [routerLink]="['/contact-us']" routerLinkActive="router-link-active">Contact</a> </li>
        </ul>

        <div class="menu-toggle">
            <input type="checkbox">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>

<!-- <footer>
    This is a footer, This stays at the bottom of the page. 
</footer> -->


<router-outlet></router-outlet>

<footer class="footer">
    This is a footer, This stays at the bottom of the page.
</footer>