<div class="container">
  <div class="mt-4 mb-2" data-aos="zoom-out-left">
    <div class="container">
      <!-- Button -->
      <div class="row">
        <button type="button" class="btn btn-outline-success btn-lg ml-2 col" (click)="showGentengImage()">
          Genteng Beton
        </button>
        <button type="button" class="btn btn-outline-success btn-lg ml-2 col" (click)="showPavingImage()">
          Paving Block
        </button>
        <button type="button" class="btn btn-outline-success btn-lg ml-2 col" (click)="showRosterImage()">
          Roster
        </button>
        <button type="button" class="btn btn-outline-success btn-lg ml-2 col">
          Batako Press
        </button>
        <button type="button" class="btn btn-outline-success btn-lg ml-2 col">
          Kanstin
        </button>
        <button type="button" class="btn btn-outline-success btn-lg ml-2 col">
          Buis Beton
        </button>
        <button type="button" class="btn btn-outline-success btn-lg ml-2 col">
          Rangka Atap Baja Ringan
        </button>
        <button type="button" class="btn btn-outline-success btn-lg ml-2 col">
          Ubin Difabel
        </button>
      </div>
      <!-- Button -->
    </div>
    &nbsp;
    <div class="container">
      <div class="card" style="border-radius: 20px;">
        <div class="card-body">
          <!-- Empty Image Preview -->
          <div class="container">
            <div *ngIf="emptyImage" style="height: 350px;">
              <h1 style="color: rgb(187, 187, 187); text-align: center;">
                Click to Show Image
              </h1>
            </div>
          </div>

          <!-- Genteng -->
          <div class="container">
            <div class="ml-5" *ngIf="gentengBeton">
              <p>
                Genteng Beton Indobata, Memiliki design yang menarik, dengan alur minimalis dan dibuat dengan mesin press hidrolix, menjadikan genteng minimalis yang kokoh dan terjaga kualitasnya. tersedia berbagai type antara lain, Indobata Indoline, Crown Multinline & Garuda
              </p>
              <div class="row" data-aos="zoom-in-down">
                <div class="col res">
                  <div class="card shadow zoom" style="
                      width: 18rem;
                      padding: 10px;
                      border-radius: 20px 50px;
                      margin-bottom: 20px;
                    ">
                    <img style="margin: auto;" class="card-img-top img-size" src="assets/img/genteng1.jpg" alt="Card image cap" />
                    <div class="card-body">
                      <p class="card-text">Genteng Beton</p>
                    </div>
                  </div>
                </div>

                <div class="col res">
                  <div class="card shadow zoom" style="
                      width: 18rem;
                      padding: 10px;
                      border-radius: 20px 50px;
                      margin-bottom: 20px;
                    ">
                    <img style="margin: auto;" class="card-img-top img-size" src="assets/img/genteng2.jpg" alt="Card image cap" />
                    <div class="card-body">
                      <p class="card-text">Genteng Beton</p>
                    </div>
                  </div>
                </div>

                <div class="col res">
                  <div class="card shadow zoom" style="
                      width: 18rem;
                      padding: 10px;
                      border-radius: 20px 50px;
                      margin-bottom: 20px;
                    ">
                    <img style="margin: auto;" class="card-img-top img-size" src="assets/img/genteng3.jpg" alt="Card image cap" />
                    <div class="card-body">
                      <p class="card-text">Genteng Beton</p>
                    </div>
                  </div>
                </div>

                <div class="col res">
                  <div class="card shadow zoom" style="
                      width: 18rem;
                      padding: 10px;
                      border-radius: 20px 50px;
                      margin-bottom: 20px;
                    ">
                    <img style="margin: auto;" class="card-img-top img-size" src="assets/img/genteng4.jpg" alt="Card image cap" />
                    <div class="card-body">
                      <p class="card-text">Genteng Beton</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Paving -->
          <div class="container">
            <div class="ml-5" *ngIf="pavingBlock">
              <div class="row" data-aos="zoom-in-down">
                <div class="col res">
                  <div class="card shadow zoom" style="
                      width: 18rem;
                      padding: 10px;
                      border-radius: 20px 50px;
                      margin-bottom: 20px;
                    ">
                    <img style="margin: auto;" class="card-img-top img-size" src="assets/img/paving5.jpg" alt="Card image cap" />
                    <div class="card-body">
                      <p class="card-text">Paving</p>
                    </div>
                  </div>
                </div>

                <div class="col res">
                  <div class="card shadow zoom" style="
                      width: 18rem;
                      padding: 10px;
                      border-radius: 20px 50px;
                      margin-bottom: 20px;
                    ">
                    <img style="margin: auto;" class="card-img-top img-size" src="assets/img/paving2.jpg" alt="Card image cap" />
                    <div class="card-body">
                      <p class="card-text">Paving</p>
                    </div>
                  </div>
                </div>

                <div class="col res">
                  <div class="card shadow zoom" style="
                      width: 18rem;
                      padding: 10px;
                      border-radius: 20px 50px;
                      margin-bottom: 20px;
                    ">
                    <img style="margin: auto;" class="card-img-top img-size" src="assets/img/kanstin3.jpg" alt="Card image cap" />
                    <div class="card-body">
                      <p class="card-text">Paving</p>
                    </div>
                  </div>
                </div>

                <div class="col res">
                  <div class="card shadow zoom" style="
                      width: 18rem;
                      padding: 10px;
                      border-radius: 20px 50px;
                      margin-bottom: 20px;
                    ">
                    <img style="margin: auto;" class="card-img-top img-size" src="assets/img/paving4.jpg" alt="Card image cap" />
                    <div class="card-body">
                      <p class="card-text">Paving</p>
                    </div>
                  </div>
                </div>

                <div class="col res">
                  <div class="card shadow zoom" style="
                      width: 18rem;
                      padding: 10px;
                      border-radius: 20px 50px;
                      margin-bottom: 20px;
                    ">
                    <img style="margin: auto;" class="card-img-top img-size" src="assets/img/kanstin4.jpg" alt="Card image cap" />
                    <div class="card-body">
                      <p class="card-text">Kanstin M</p>
                    </div>
                  </div>
                </div>

                <div class="col res">
                  <div class="card shadow zoom" style="
                      width: 18rem;
                      padding: 10px;
                      border-radius: 20px 50px;
                      margin-bottom: 20px;
                    ">
                    <img style="margin: auto;" class="card-img-top img-size" src="assets/img/kanstin4.jpg" alt="Card image cap" />
                    <div class="card-body">
                      <p class="card-text">Kanstin Taman</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Roster -->
          <div class="container">
            <div class="ml-5" *ngIf="roster">
              <p>
                Roster Indobata merupakan produk yang artistik sebagai aksesoris yang juga memiliki fungsi sebagai ventilasi, sirkulasi udara sebuah bangunan. Diproduksi menggunakan bahan agregat pasir yang halus, memiliki butiran berat jenis yang proporsional sehingga tahan terhadap cuaca panas dan lembab.
              </p>
              <div class="row" data-aos="zoom-in-down">
                <div class="col res">
                  <div class="card shadow zoom" style="
                      width: 18rem;
                      padding: 10px;
                      border-radius: 20px 50px;
                      margin-bottom: 20px;
                    ">
                    <img style="margin: auto;" class="card-img-top img-size" src="assets/img/roster.jpg" alt="Card image cap" />
                    <div class="card-body">
                      <p class="card-text">Roster</p>
                    </div>
                  </div>
                </div>

                <div class="col res">
                  <div class="card shadow zoom" style="
                      width: 18rem;
                      padding: 10px;
                      border-radius: 20px 50px;
                      margin-bottom: 20px;
                    ">
                    <img style="margin: auto;" class="card-img-top img-size" src="assets/img/roster2.jpg" alt="Card image cap" />
                    <div class="card-body">
                      <p class="card-text">Roster</p>
                    </div>
                  </div>
                </div>

                <div class="col res">
                  <div class="card shadow zoom" style="
                      width: 18rem;
                      padding: 10px;
                      border-radius: 20px 50px;
                      margin-bottom: 20px;
                    ">
                    <img class="card-img-top img-size" src="assets/img/roster3.jpg" alt="Card image cap" />
                    <div class="card-body">
                      <p class="card-text">Roster</p>
                    </div>
                  </div>
                </div>

                <div class="col res">
                  <div class="card shadow zoom" style="
                      width: 18rem;
                      padding: 10px;
                      border-radius: 20px 50px;
                      margin-bottom: 20px;
                    ">
                    <img style="margin: auto;" class="zoom card-img-top img-size" src="assets/img/roster4.jpg" alt="Card image cap" />
                    <div class="card-body">
                      <p class="card-text">Roster</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

</div> <!-- Big Container -->